In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = pd.read_csv("Car_sales.csv")

In [3]:
sales

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [4]:
sales.isna().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [5]:
sales.dropna(inplace = True)

In [6]:
sales

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
5,Audi,A6,18.780,23.555,Passenger,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,8/9/2011,84.565105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,Passenger,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26.0,1/24/2011,46.943877
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,8/27/2011,47.638237
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,4/1/2011,47.946841

In [7]:
sales.isna().sum()

Manufacturer           0
Model                  0
Sales_in_thousands     0
__year_resale_value    0
Vehicle_type           0
Price_in_thousands     0
Engine_size            0
Horsepower             0
Wheelbase              0
Width                  0
Length                 0
Curb_weight            0
Fuel_capacity          0
Fuel_efficiency        0
Latest_Launch          0
Power_perf_factor      0
dtype: int64

In [8]:
sales.describe()

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,59.112316,18.031538,25.969487,3.048718,181.282051,107.326496,71.189744,187.717949,3.324051,17.812821,24.119658,74.930921
std,75.058933,11.605632,14.149699,1.055169,58.591786,8.050588,3.530151,13.849926,0.597177,3.794609,4.404470,25.771796
min,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,16.767000,11.240000,16.980000,2.200000,140.000000,102.400000,68.500000,177.500000,2.911000,15.300000,22.000000,55.297117
50%,32.299000,14.010000,21.665000,3.000000,175.000000,107.000000,70.400000,187.800000,3.340000,17.200000,24.000000,70.660942
75%,76.029000,19.875000,29.465000,3.800000,210.000000,111.600000,73.600000,196.500000,3.823000,19.800000,26.000000,85.828408
max,540.561000,67.550000,82.600000,8.000000,450.000000,138.700000,79.300000,224.500000,5.115000,32.000000,45.000000,188.144323

In [9]:
list = ['Sales_in_thousands','Price_in_thousands','Engine_size']
k = sales.groupby(['Manufacturer'])[list].mean()

In [10]:
k

              Sales_in_thousands  Price_in_thousands  Engine_size
Manufacturer
Acura                  21.630333           30.633333     2.833333
Audi                   13.519000           39.980000     2.933333
BMW                    13.379000           36.150000     2.800000
Buick                  60.504750           26.781250     3.625000
Cadillac               27.150000           36.856667     4.066667
Chevrolet              55.796250           20.164375     3.012500
Chrysler               23.509000           22.280000     2.640000
Dodge                  80.088667           24.170556     3.655556
Ford                  184.696500           21.920500     3.460000
Honda                 118.534800           20.277000     2.520000
Hyundai                45.775333           12.165667     1.966667
Infiniti               23.713000           29.465000     3.000000
Jeep                   97.717667           20.991667     3.500000
Lexus                  14.381667           41.105000     3.333333
Lincoln                31.354500           41.205000     4.600000
Mercedes-B             16.519750           58.487500     3.700000
Mercury                39.666500           20.748333     3.150000
Mitsubishi             25.842143           22.167429     2.800000
Nissan                 56.094400           23.167200     2.760000
Oldsmobile             15.045000           27.829250     3.700000
Plymouth               20.709667           15.856667     2.133333
Pontiac                66.192400           22.412000     3.440000
Porsche                 4.042667           62.473333     3.166667
Saturn                 36.796333           12.503333     1.900000
Toyota                 84.385750           21.934750     2.575000
Volkswagen             31.949800           18.058000     1.960000

In [11]:
m = sales.groupby(['Manufacturer'])[list].median()

In [12]:
m

              Sales_in_thousands  Price_in_thousands  Engine_size
Manufacturer
Acura                    16.9190             28.4000         3.20
Audi                     18.7800             33.9500         2.80
BMW                      13.3790             36.1500         2.80
Buick                    61.3035             26.5925         3.80
Cadillac                 11.1850             39.6650         4.60
Chevrolet                29.3505             17.7125         3.10
Chrysler                 31.1480             22.2450         2.50
Dodge                    71.1860             19.4600         2.50
Ford                    140.5625             21.4850         3.40
Honda                    76.0290             20.5500         2.30
Hyundai                  41.1840             11.7990         2.00
Infiniti                 23.7130             29.4650         3.00
Jeep                     80.5560             21.6200         4.00
Lexus                    12.6980             37.8050         3.00
Lincoln                  31.3545             41.2050         4.60
Mercedes-B               17.5830             59.8000         3.75
Mercury                  27.0690             20.7725         3.15
Mitsubishi               26.2320             22.5270         3.00
Nissan                   42.6430             26.2490         3.00
Oldsmobile               17.3535             28.4715         3.70
Plymouth                 24.1550             16.0800         2.00
Pontiac                  51.6450             21.6650         3.80
Porsche                   1.8660             71.0200         3.40
Saturn                   24.5460             12.5350         1.90
Toyota                   66.1300             17.2030         2.30
Volkswagen                9.7610             17.5000         2.00

In [13]:
min = sales.groupby(['Manufacturer'])[list].min()

In [14]:
min

              Sales_in_thousands  Price_in_thousands  Engine_size
Manufacturer
Acura                      8.588              21.500          1.8
Audi                       1.380              23.990          1.8
BMW                        9.231              33.400          2.8
Buick                     27.851              21.975          3.1
Cadillac                   6.536              31.010          3.0
Chevrolet                 17.947               9.235          1.0
Chrysler                   7.854              16.480          2.0
Dodge                      0.916              12.640          2.0
Ford                      35.068              12.050          2.0
Honda                     12.855              12.885          1.6
Hyundai                   29.450               9.699          1.5
Infiniti                  23.713              29.465          3.0
Jeep                      55.557              14.460          2.5
Lexus                      6.375              31.505          3.0
Lincoln                   13.798              39.080          4.6
Mercedes-B                 3.311              31.750          2.3
Mercury                   14.351              16.240          2.0
Mitsubishi                 0.110              13.987          1.8
Nissan                    27.308              13.499          1.8
Oldsmobile                 1.112              18.145          3.1
Plymouth                   5.240              12.640          2.0
Pontiac                   19.911              19.720          2.4
Porsche                    1.280              41.430          2.7
Saturn                     5.223              10.685          1.9
Toyota                     9.835              11.528          1.8
Volkswagen                 5.596              14.900          1.8

In [15]:
max = sales.groupby(['Manufacturer'])[list].max()

In [16]:
max

              Sales_in_thousands  Price_in_thousands  Engine_size
Manufacturer
Acura                     39.384              42.000          3.5
Audi                      20.397              62.000          4.2
BMW                       17.527              38.900          2.8
Buick                     91.561              31.965          3.8
Cadillac                  63.729              39.895          4.6
Chevrolet                145.519              45.705          5.7
Chrysler                  32.775              28.340          3.5
Dodge                    227.061              69.725          8.0
Ford                     540.561              36.135          4.6
Honda                    230.902              26.600          3.5
Hyundai                   66.692              14.999          2.4
Infiniti                  23.713              29.465          3.0
Jeep                     157.040              26.895          4.0
Lexus                     24.072              54.005          4.0
Lincoln                   48.911              43.330          4.6
Mercedes-B                27.602              82.600          5.0
Mercury                   81.174              27.560          4.6
Mitsubishi                55.616              31.807          3.5
Nissan                    88.094              29.299          3.3
Oldsmobile                24.361              36.229          4.3
Plymouth                  32.734              18.850          2.4
Pontiac                  131.097              25.310          3.8
Porsche                    8.982              74.970          3.4
Saturn                    80.620              14.290          1.9
Toyota                   247.994              51.728          4.7
Volkswagen                83.721              21.200          2.0

In [17]:
std = sales.groupby(['Manufacturer'])[list].std()

In [18]:
std

              Sales_in_thousands  Price_in_thousands  Engine_size
Manufacturer
Acura                  15.929404           10.430884     0.907377
Audi                   10.543726           19.709406     1.205543
BMW                     5.866158            3.889087     0.000000
Buick                  31.601405            4.218359     0.350000
Cadillac               31.763513            5.064668     0.923760
Chevrolet              52.766089           11.280649     1.423715
Chrysler               11.912404            4.506236     0.545894
Dodge                  80.131599           17.264593     1.926857
Ford                  148.993599            7.905453     0.983418
Honda                  92.522535            6.158827     0.804363
Hyundai                19.040796            2.668957     0.450925
Infiniti                     NaN                 NaN          NaN
Jeep                   52.873357            6.241267     0.866025
Lexus                   8.967832           11.607325     0.577350
Lincoln                24.828640            3.005204     0.000000
Mercedes-B             10.014278           22.329143     1.191638
Mercury                27.763246            4.334054     1.050238
Mitsubishi             20.919289            5.938983     0.629815
Nissan                 26.366853            6.299364     0.650385
Oldsmobile             10.095596            7.846772     0.547723
Plymouth               14.067080            3.111018     0.230940
Pontiac                45.183127            2.159290     0.606630
Porsche                 4.287611           18.330767     0.404145
Saturn                 39.162864            1.802709     0.000000
Toyota                 77.929327           12.859609     0.957303
Volkswagen             34.405050            2.536399     0.089443

In [19]:
sales['Fuel_efficiency'].max()

45.0

In [20]:
sales['Fuel_efficiency'].min()

15.0

In [21]:
less = sales[sales['Fuel_efficiency']>=19]

In [22]:
less = less[less['Fuel_efficiency']<25]
less

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
3,Acura,RL,8.588,29.725,Passenger,42.000,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
5,Audi,A6,18.780,23.555,Passenger,33.950,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,8/9/2011,84.565105
6,Audi,A8,1.380,39.000,Passenger,62.000,4.2,310.0,113.0,74.0,198.2,3.902,23.7,21.0,2/27/2012,134.656858
8,BMW,328i,9.231,28.675,Passenger,33.400,2.8,193.0,107.3,68.5,176.0,3.197,16.6,24.0,1/29/2012,81.877069
11,Buick,Regal,39.350,13.740,Passenger,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,9/3/2011,95.636703
12,Buick,Park Avenue,27.851,20.190,Passenger,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,3/23/2012,85.828408
14,Cadillac,DeVille,63.729,22.525,Passenger,39.895,4.6,275.0,115.3,74.5,207.2,3.978,18.5,22.0,2/23/2012,113.854598
16,Cadillac,Eldorado,6.536,25.725,Passenger,39.665,4.6,275.0,108.0,75.5,200.6,3.843,19.0,22.0,11/27/2011,113.765874
17,Cadillac,Catera,11.185,18.225,Passenger,31.010,3.0,200.0,107.4,70.3,194.8,3.770,18.0,22.0,9/28/2011,83.483094
24,Chevrolet,Corvette,17.947,36.225,Passenger,45.705,5.7,345.0,104.5,73.6,179.7,3.210,19.1,22.0,5/12/2012,141.141150
28,Chrysler,Sebring Coupe,7.854,12.360,Passenger,19.840,2.5,163.0,103.7,69.7,190.9,2.967,15.9,24.0,1/16/2012,65.957184
29,Chrysler,Sebring Conv.,32.775,14.180,Passenger,24.495,2.5,168.0,106.0,69.2,193.0,3.332,16.0,24.0,11/17/2011,69.521355
32,Chrysler,LHS,13.462,17.325,Passenger,28.340,3.5,253.0,113.0,74.4,207.7,3.564,17.0,23.0,5/8/2012,101.329281
36,Dodge,Avenger,4.734,12.545,Passenger,19.045,2.5,163.0,103.7,69.1,190.2,2.879,15.9,24.0,7/1/2012,65.650508
37,Dodge,Stratus,71.186,10.185,Passenger,20.230,2.5,168.0,108.0,71.0,186.0,3.058,16.0,24.0,10/31/2011,67.876108
43,Dodge,Dakota,111.313,11.260,Car,16.980,2.5,120.0,131.0,71.5,215.0,3.557,22.0,19.0,11/25/2011,49.645002
45,Dodge,Caravan,181.749,12.025,Car,19.565,2.4,150.0,113.3,76.8,186.3,3.533,20.0,24.0,9/1/2011,61.227000
47,Ford,Mustang,113.369,12.760,Passenger,21.560,3.8,190.0,101.3,73.1,183.2,3.203,15.7,24.0,1/31/2012,76.509185
49,Ford,Taurus,245.815,10.055,Passenger,17.885,3.0,155.0,108.5,73.0,197.6,3.368,16.0,24.0,12/20/2011,62.503740
51,Ford,Crown Victoria,63.403,14.210,Passenger,22.195,4.6,200.0,114.7,78.2,212.0,3.908,19.0,21.0,9/26/2011,80.499537
52,Ford,Explorer,276.747,16.640,Car,31.930,4.0,210.0,111.6,70.2,190.7,3.876,21.0,19.0,4/25/2012,87.635496
53,Ford,Windstar,155.787,13.175,Car,21.410,3.0,150.0,120.7,76.6,200.9,3.761,26.0,21.0,2/25/2012,62.095048
55,Ford,Ranger,220.650,7.850,Car,12.050,2.5,119.0,117.5,69.4,200.7,3.086,20.0,23.0,1/14/2012,47.389531
59,Honda,CR-V,73.203,17.710,Car,20.550,2.0,146.0,103.2,68.9,177.6,3.219,15.3,24.0,3/21/2012,60.087967
60,Honda,Passport,12.855,17.525,Car,26.600,3.2,205.0,106.4,70.4,178.2,3.857,21.1,19.0,10/9/2012,83.602501
61,Honda,Odyssey,76.029,19.490,Car,26.000,3.5,210.0,118.1,75.6,201.2,4.288,20.0,23.0,2/8/2012,85.217691
68,Jeep,Cherokee,80.556,13.775,Car,21.620,4.0,190.0,101.4,69.4,167.5,3.194,20.0,20.0,10/5/2012,76.584440
69,Jeep,Grand Cherokee,157.040,18.810,Car,26.895,4.0,195.0,105.9,72.3,181.5,3.880,20.5,19.0,12/10/2011,80.387779
70,Lexus,ES300,24.072,26.975,Passenger,31.505,3.0,210.0,105.1,70.5,190.2,3.373,18.5,23.0,7/9/2012,87.211001
71,Lexus,GS300,12.698,32.075,Passenger,37.805,3.0,225.0,110.2,70.9,189.2,3.638,19.8,23.0,5/10/2012,94.946698
73,Lexus,LS400,6.375,40.375,Passenger,54.005,4.0,290.0,112.2,72.0,196.7,3.890,22.5,22.0,3/29/2012,124.446716
76,Lincoln,Continental,13.798,20.525,Passenger,39.080,4.6,275.0,109.0,73.6,208.5,3.868,20.0,22.0,8/3/2012,113.540207
77,Lincoln,Town car,48.911,21.725,Passenger,43.330,4.6,215.0,117.7,78.2,215.3,4.121,19.0,21.0,6/4/2012,93.957917
80,Mitsubishi,Eclipse,42.541,10.395,Passenger,19.047,2.4,154.0,100.8,68.9,175.4,2.910,15.9,24.0,11/24/2012,62.441962
82,Mitsubishi,Diamante,5.711,16.575,Passenger,24.997,3.5,210.0,107.1,70.3,194.1,3.443,19.0,22.0,8/28/2012,84.830779
83,Mitsubishi,3000GT,0.110,20.940,Passenger,25.450,3.0,161.0,97.2,72.4,180.3,3.131,19.8,21.0,6/29/2012,67.544155
85,Mitsubishi,Montero Sport,39.348,13.880,Car,22.527,3.0,173.0,107.3,66.7,178.3,3.510,19.5,20.0,5/18/2012,70.660942
88,Mercury,Sable,67.956,11.030,Passenger,19.035,3.0,153.0,108.5,73.0,199.7,3.379,16.0,24.0,9/22/2012,62.239967
89,Mercury,Grand Marquis,81.174,14.875,Passenger,22.605,4.6,200.0,114.7,78.2,212.0,3.958,19.0,21.0,7/24/2012,80.657696
91,Mercury,Villager,20.380,14.795,Car,22.510,3.3,170.0,112.2,74.9,194.7,3.944,20.0,21.0,10/20/2009,69.671461
94,Mercedes-B,S-Class,16.774,50.375,Passenger,69.700,4.3,275.0,121.5,73.1,203.1,4.133,23.2,21.0,6/13/2011,125.273876
95,Mercedes-B,SL-Class,3.311,58.600,Passenger,82.600,5.0,302.0,99.0,71.3,177.1,4.125,21.1,20.0,3/17/2011,139.982294
104,Nissan,Quest,27.308,15.380,Car,26.399,3.3,170.0,112.2,74.9,194.8,3.991,20.0,21.0,3/7/2011,71.171664
105,Nissan,Pathfinder,42.574,17.810,Car,29.299,3.3,170.0,106.3,71.7,182.6,3.947,21.0,19.0,9/25/2011,72.290355
111,Oldsmobile,Aurora,14.690,19.890,Passenger,36.229,4.0,250.0,113.8,74.4,205.4,3.967,18.5,22.0,2/18/2011,103.441693
112,Oldsmobile,Bravada,20.017,19.925,Car,31.598,4.3,190.0,107.0,67.8,181.2,4.068,17.5,19.0,9/21/2011,80.511673
113,Oldsmobile,Silhouette,24.361,15.240,Car,25.345,3.4,185.0,120.0,72.2,201.4,3.948,25.0,22.0,6/25/2011,76.096570
116,Plymouth,Voyager,24.155,12.025,Car,18.850,2.4,150.0,113.3,76.8,186.3,3.528,20.0,24.0,4/24/2011,60.951185
122,Pontiac,Bonneville,35.945,13.225,Passenger,23.755,3.8,205.0,112.2,72.6,202.5,3.590,17.5,24.0,5/18/2011,82.661356
124,Porsche,Boxter,8.982,41.250,Passenger,41.430,2.7,217.0,95.2,70.1,171.0,2.778,17.0,22.0,2/19/2012,93.437331
125,Porsche,Carrera Coupe,1.280,60.625,Passenger,71.020,3.4,300.0,92.6,69.5,174.5,3.032,17.0,21.0,12/21/2012,134.390975
126,Porsche,Carrera Cabrio,1.866,67.550,Passenger,74.970,3.4,300.0,92.6,69.5,174.5,3.075,17.0,23.0,7/11/2011,135.914710
140,Toyota,Tacoma,84.087,9.575,Car,11.528,2.4,142.0,103.3,66.5,178.7,2.580,15.1,23.0,8/1/2011,55.297117
143,Toyota,4Runner,68.411,19.425,Car,22.288,2.7,150.0,105.3,66.5,183.3,3.440,18.5,23.0,3/7/2011,62.355577

In [23]:
middle = sales[sales['Fuel_efficiency']>=25]
middle = middle[middle['Fuel_efficiency']<30]
middle

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.500,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
4,Audi,A4,20.397,22.255,Passenger,23.990,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
9,BMW,528i,17.527,36.125,Passenger,38.900,2.8,193.0,111.4,70.9,188.0,3.472,18.5,25.0,4/4/2011,83.998724
10,Buick,Century,91.561,12.475,Passenger,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,11/2/2011,71.181451
13,Buick,LeSabre,83.257,13.360,Passenger,27.885,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25.0,7/23/2011,84.254526
19,Chevrolet,Cavalier,145.519,9.250,Passenger,13.260,2.2,115.0,104.1,67.9,180.9,2.676,14.3,27.0,8/17/2011,46.363347
20,Chevrolet,Malibu,135.126,11.225,Passenger,16.535,3.1,170.0,107.0,69.4,190.4,3.051,15.0,25.0,3/19/2012,67.314462
21,Chevrolet,Lumina,24.629,10.310,Passenger,18.890,3.1,175.0,107.5,72.5,200.9,3.330,16.6,25.0,5/24/2011,69.991396
22,Chevrolet,Monte Carlo,42.593,11.525,Passenger,19.390,3.4,180.0,110.5,72.7,197.9,3.340,17.0,27.0,12/22/2011,72.030917
23,Chevrolet,Camaro,26.402,13.025,Passenger,24.340,3.8,200.0,101.1,74.1,193.2,3.500,16.8,25.0,10/23/2011,81.118543
30,Chrysler,Concorde,31.148,13.725,Passenger,22.245,2.7,200.0,113.0,74.4,209.1,3.452,17.0,26.0,6/6/2012,80.023782
31,Chrysler,Cirrus,32.306,12.640,Passenger,16.480,2.0,132.0,108.0,71.0,186.0,2.911,16.0,27.0,10/6/2011,53.566200
35,Dodge,Neon,76.034,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,174.4,2.567,12.5,29.0,12/12/2011,52.084899
48,Ford,Contour,35.068,8.835,Passenger,17.035,2.5,170.0,106.5,69.1,184.6,2.769,15.0,25.0,8/20/2012,67.351011
58,Honda,Accord,230.902,13.210,Passenger,15.350,2.3,135.0,106.9,70.3,188.8,2.932,17.1,27.0,5/20/2012,54.269548
63,Hyundai,Elantra,66.692,7.825,Passenger,11.799,2.0,140.0,100.4,66.9,174.0,2.626,14.5,27.0,11/15/2011,54.590045
64,Hyundai,Sonata,29.450,8.910,Passenger,14.999,2.4,148.0,106.3,71.6,185.4,3.072,17.2,25.0,6/14/2012,58.758249
65,Infiniti,I30,23.713,19.690,Passenger,29.465,3.0,227.0,108.3,70.2,193.7,3.342,18.5,25.0,4/15/2012,92.436889
81,Mitsubishi,Galant,55.616,10.595,Passenger,17.357,2.4,145.0,103.7,68.5,187.8,2.945,16.3,25.0,1/29/2012,58.606773
86,Mercury,Mystique,14.351,8.800,Passenger,16.240,2.0,125.0,106.5,69.1,184.8,2.769,15.0,28.0,12/19/2012,50.997748
92,Mercedes-B,C-Class,18.392,26.050,Passenger,31.750,2.3,185.0,105.9,67.7,177.4,3.250,16.4,26.0,4/24/2011,78.280731
93,Mercedes-B,E-Class,27.602,41.450,Passenger,49.900,3.2,221.0,111.5,70.8,189.4,3.823,21.1,25.0,7/12/2011,98.249737
102,Nissan,Altima,88.094,11.295,Passenger,20.390,2.4,155.0,103.1,69.1,183.5,3.012,15.9,25.0,8/2/2011,63.313728
103,Nissan,Maxima,79.853,15.125,Passenger,26.249,3.0,222.0,108.3,70.3,190.5,3.294,18.5,25.0,5/6/2011,89.427820
108,Oldsmobile,Cutlass,1.112,11.240,Passenger,18.145,3.1,150.0,107.0,69.4,192.0,3.102,15.2,25.0,5/31/2011,60.861612
114,Plymouth,Neon,32.734,7.750,Passenger,12.640,2.0,132.0,105.0,74.4,174.4,2.559,12.5,29.0,4/26/2011,52.084899
115,Plymouth,Breeze,5.240,9.800,Passenger,16.080,2.0,132.0,108.0,71.0,186.3,2.942,16.0,27.0,11/14/2011,53.411898
118,Pontiac,Sunfire,51.645,13.790,Passenger,21.610,2.4,150.0,104.1,68.4,181.9,2.906,15.0,27.0,1/25/2012,62.015870
119,Pontiac,Grand Am,131.097,10.290,Passenger,19.720,3.4,175.0,107.0,70.4,186.3,3.091,15.2,25.0,11/26/2012,70.389737
120,Pontiac,Firebird,19.911,17.805,Passenger,25.310,3.8,200.0,101.1,74.5,193.4,3.492,16.8,25.0,6/16/2012,81.492726
121,Pontiac,Grand Prix,92.364,14.010,Passenger,21.665,3.8,195.0,110.5,72.7,196.5,3.396,18.0,25.0,10/15/2012,78.318168
137,Toyota,Camry,247.994,13.245,Passenger,17.518,2.2,133.0,105.2,70.1,188.5,2.998,18.5,27.0,2/10/2011,54.372420
138,Toyota,Avalon,63.849,18.140,Passenger,25.545,3.0,210.0,107.1,71.7,191.9,3.417,18.5,26.0,8/31/2011,84.911898
142,Toyota,RAV4,25.106,13.325,Car,16.888,2.0,127.0,94.9,66.7,163.8,2.668,15.3,27.0,5/6/2011,51.955109
145,Volkswagen,Golf,9.761,11.425,Passenger,14.900,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26.0,1/24/2011,46.943877
146,Volkswagen,Jetta,83.721,13.240,Passenger,16.700,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,8/27/2011,47.638237
147,Volkswagen,Passat,51.102,16.725,Passenger,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.990,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
149,Volkswagen,GTI,5.596,13.760,Passenger,17.500,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,4/1/2011,47.946841

In [24]:
more = sales[sales['Fuel_efficiency']>=30]
more

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
25,Chevrolet,Prizm,32.299,9.125,Passenger,13.960,1.8,120.0,97.1,66.7,174.3,2.398,13.2,33.0,9/11/2011,48.297636
26,Chevrolet,Metro,21.855,5.160,Passenger,9.235,1.0,55.0,93.1,62.6,149.4,1.895,10.3,45.0,4/13/2012,23.276272
46,Ford,Escort,70.227,7.425,Passenger,12.070,2.0,110.0,98.4,67.0,174.7,2.468,12.7,30.0,3/31/2012,44.083709
57,Honda,Civic,199.685,9.850,Passenger,12.885,1.6,106.0,103.2,67.1,175.1,2.339,11.9,32.0,10/21/2011,42.879097
62,Hyundai,Accent,41.184,5.860,Passenger,9.699,1.5,92.0,96.1,65.7,166.7,2.240,11.9,31.0,9/10/2012,36.672284
79,Mitsubishi,Mirage,26.232,8.325,Passenger,13.987,1.8,113.0,98.4,66.5,173.6,2.250,13.2,30.0,4/23/2012,45.832181
87,Mercury,Cougar,26.529,13.890,Passenger,16.540,2.0,125.0,106.4,69.6,185.0,2.892,16.0,30.0,2/23/2012,51.113474
101,Nissan,Sentra,42.643,8.450,Passenger,13.499,1.8,126.0,99.8,67.3,177.5,2.593,13.2,30.0,8/31/2011,50.241978
129,Saturn,SL,80.620,9.200,Passenger,10.685,1.9,100.0,102.4,66.4,176.9,2.332,12.1,33.0,8/16/2012,39.986425
130,Saturn,SC,24.546,10.590,Passenger,12.535,1.9,100.0,102.4,66.4,180.0,2.367,12.1,33.0,3/16/2011,40.700072
131,Saturn,SW,5.223,10.790,Passenger,14.290,1.9,124.0,102.4,66.4,176.9,2.452,12.1,31.0,1/15/2011,49.865774
136,Toyota,Corolla,142.535,10.025,Passenger,13.108,1.8,120.0,97.0,66.7,174.0,2.420,13.2,33.0,4/11/2011,47.968972
139,Toyota,Celica,33.269,15.445,Passenger,16.875,1.8,140.0,102.4,68.3,170.5,2.425,14.5,31.0,12/29/2012,56.496030

In [25]:
l_mean_sal = less['Fuel_efficiency'].mean()
l_median_sal = less['Fuel_efficiency'].median()
l_max_sal = less['Fuel_efficiency'].max()
l_min_sal = less['Fuel_efficiency'].min()
l_std_sal = less['Fuel_efficiency'].std()
print('Mean Fuel_efficiency of l group ',l_mean_sal)
print('Median Fuel_efficiency of l group ',l_median_sal)
print('Maximum Fuel_efficiency of l group ',l_max_sal)
print('Minimum Fuel_efficiency of l group ',l_min_sal)
print('Standard deviation of Fuel_efficiency of l group ',l_max_sal)

Mean Fuel_efficiency of l group  22.055555555555557
Median Fuel_efficiency of l group  22.0
Maximum Fuel_efficiency of l group  24.0
Minimum Fuel_efficiency of l group  19.0
Standard deviation of Fuel_efficiency of l group  24.0

In [26]:
mid_mean_sal = middle['Fuel_efficiency'].mean()
mid_median_sal = middle['Fuel_efficiency'].median()
mid_max_sal = middle['Fuel_efficiency'].max()
mid_min_sal = middle['Fuel_efficiency'].min()
mid_std_sal = middle['Fuel_efficiency'].std()
print('Mean Fuel_efficiency of mid group ',mid_mean_sal)
print('Median Fuel_efficiency of mid group ',mid_median_sal)
print('Maximum Fuel_efficiency of mid group ',mid_max_sal)
print('Minimum Fuel_efficiency of mid group ',mid_min_sal)
print('Standard deviation of Fuel_efficiency of mid group ',mid_max_sal)

Mean Fuel_efficiency of mid group  26.075
Median Fuel_efficiency of mid group  26.0
Maximum Fuel_efficiency of mid group  29.0
Minimum Fuel_efficiency of mid group  25.0
Standard deviation of Fuel_efficiency of mid group  29.0

In [27]:
m_mean_sal = more['Fuel_efficiency'].mean()
m_median_sal = more['Fuel_efficiency'].median()
m_max_sal = more['Fuel_efficiency'].max()
m_min_sal = more['Fuel_efficiency'].min()
m_std_sal = more['Fuel_efficiency'].std()
print('Mean Fuel_efficiency of m group ',m_mean_sal)
print('Median Fuel_efficiency of m group ',m_median_sal)
print('Maximum Fuel_efficiency of m group ',m_max_sal)
print('Minimum Fuel_efficiency of m group ',m_min_sal)
print('Standard deviation of Fuel_efficiency of m group ',m_max_sal)

Mean Fuel_efficiency of m group  32.46153846153846
Median Fuel_efficiency of m group  31.0
Maximum Fuel_efficiency of m group  45.0
Minimum Fuel_efficiency of m group  30.0
Standard deviation of Fuel_efficiency of m group  45.0

In [28]:
iris = pd.read_csv("iris_dataset.csv")

In [29]:
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [30]:
iris['target'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: target, dtype: int64

In [31]:
setosa = iris[iris['target'] == 'Iris-setosa']

In [32]:
setosa

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
31,5.4,3.4,1.5,0.4,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
40,5.0,3.5,1.3,0.3,Iris-setosa
41,4.5,2.3,1.3,0.3,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
43,5.0,3.5,1.6,0.6,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

In [33]:
virginica = iris[iris['target'] == 'Iris-virginica']

In [34]:
virginica

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
100,6.3,3.3,6.0,2.5,Iris-virginica
101,5.8,2.7,5.1,1.9,Iris-virginica
102,7.1,3.0,5.9,2.1,Iris-virginica
103,6.3,2.9,5.6,1.8,Iris-virginica
104,6.5,3.0,5.8,2.2,Iris-virginica
105,7.6,3.0,6.6,2.1,Iris-virginica
106,4.9,2.5,4.5,1.7,Iris-virginica
107,7.3,2.9,6.3,1.8,Iris-virginica
108,6.7,2.5,5.8,1.8,Iris-virginica
109,7.2,3.6,6.1,2.5,Iris-virginica
110,6.5,3.2,5.1,2.0,Iris-virginica
111,6.4,2.7,5.3,1.9,Iris-virginica
112,6.8,3.0,5.5,2.1,Iris-virginica
113,5.7,2.5,5.0,2.0,Iris-virginica
114,5.8,2.8,5.1,2.4,Iris-virginica
115,6.4,3.2,5.3,2.3,Iris-virginica
116,6.5,3.0,5.5,1.8,Iris-virginica
117,7.7,3.8,6.7,2.2,Iris-virginica
118,7.7,2.6,6.9,2.3,Iris-virginica
119,6.0,2.2,5.0,1.5,Iris-virginica
120,6.9,3.2,5.7,2.3,Iris-virginica
121,5.6,2.8,4.9,2.0,Iris-virginica
122,7.7,2.8,6.7,2.0,Iris-virginica
123,6.3,2.7,4.9,1.8,Iris-virginica
124,6.7,3.3,5.7,2.1,Iris-virginica
125,7.2,3.2,6.0,1.8,Iris-virginica
126,6.2,2.8,4.8,1.8,Iris-virginica
127,6.1,3.0,4.9,1.8,Iris-virginica
128,6.4,2.8,5.6,2.1,Iris-virginica
129,7.2,3.0,5.8,1.6,Iris-virginica
130,7.4,2.8,6.1,1.9,Iris-virginica
131,7.9,3.8,6.4,2.0,Iris-virginica
132,6.4,2.8,5.6,2.2,Iris-virginica
133,6.3,2.8,5.1,1.5,Iris-virginica
134,6.1,2.6,5.6,1.4,Iris-virginica
135,7.7,3.0,6.1,2.3,Iris-virginica
136,6.3,3.4,5.6,2.4,Iris-virginica
137,6.4,3.1,5.5,1.8,Iris-virginica
138,6.0,3.0,4.8,1.8,Iris-virginica
139,6.9,3.1,5.4,2.1,Iris-virginica
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [35]:
versicolor = iris[iris['target'] == 'Iris-versicolor']
versicolor

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
50,7.0,3.2,4.7,1.4,Iris-versicolor
51,6.4,3.2,4.5,1.5,Iris-versicolor
52,6.9,3.1,4.9,1.5,Iris-versicolor
53,5.5,2.3,4.0,1.3,Iris-versicolor
54,6.5,2.8,4.6,1.5,Iris-versicolor
55,5.7,2.8,4.5,1.3,Iris-versicolor
56,6.3,3.3,4.7,1.6,Iris-versicolor
57,4.9,2.4,3.3,1.0,Iris-versicolor
58,6.6,2.9,4.6,1.3,Iris-versicolor
59,5.2,2.7,3.9,1.4,Iris-versicolor
60,5.0,2.0,3.5,1.0,Iris-versicolor
61,5.9,3.0,4.2,1.5,Iris-versicolor
62,6.0,2.2,4.0,1.0,Iris-versicolor
63,6.1,2.9,4.7,1.4,Iris-versicolor
64,5.6,2.9,3.6,1.3,Iris-versicolor
65,6.7,3.1,4.4,1.4,Iris-versicolor
66,5.6,3.0,4.5,1.5,Iris-versicolor
67,5.8,2.7,4.1,1.0,Iris-versicolor
68,6.2,2.2,4.5,1.5,Iris-versicolor
69,5.6,2.5,3.9,1.1,Iris-versicolor
70,5.9,3.2,4.8,1.8,Iris-versicolor
71,6.1,2.8,4.0,1.3,Iris-versicolor
72,6.3,2.5,4.9,1.5,Iris-versicolor
73,6.1,2.8,4.7,1.2,Iris-versicolor
74,6.4,2.9,4.3,1.3,Iris-versicolor
75,6.6,3.0,4.4,1.4,Iris-versicolor
76,6.8,2.8,4.8,1.4,Iris-versicolor
77,6.7,3.0,5.0,1.7,Iris-versicolor
78,6.0,2.9,4.5,1.5,Iris-versicolor
79,5.7,2.6,3.5,1.0,Iris-versicolor
80,5.5,2.4,3.8,1.1,Iris-versicolor
81,5.5,2.4,3.7,1.0,Iris-versicolor
82,5.8,2.7,3.9,1.2,Iris-versicolor
83,6.0,2.7,5.1,1.6,Iris-versicolor
84,5.4,3.0,4.5,1.5,Iris-versicolor
85,6.0,3.4,4.5,1.6,Iris-versicolor
86,6.7,3.1,4.7,1.5,Iris-versicolor
87,6.3,2.3,4.4,1.3,Iris-versicolor
88,5.6,3.0,4.1,1.3,Iris-versicolor
89,5.5,2.5,4.0,1.3,Iris-versicolor
90,5.5,2.6,4.4,1.2,Iris-versicolor
91,6.1,3.0,4.6,1.4,Iris-versicolor
92,5.8,2.6,4.0,1.2,Iris-versicolor
93,5.0,2.3,3.3,1.0,Iris-versicolor
94,5.6,2.7,4.2,1.3,Iris-versicolor
95,5.7,3.0,4.2,1.2,Iris-versicolor
96,5.7,2.9,4.2,1.3,Iris-versicolor
97,6.2,2.9,4.3,1.3,Iris-versicolor
98,5.1,2.5,3.0,1.1,Iris-versicolor
99,5.7,2.8,4.1,1.3,Iris-versicolor

In [36]:
virginica.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.00000,50.000000,50.000000,50.00000
mean,6.58800,2.974000,5.552000,2.02600
std,0.63588,0.322497,0.551895,0.27465
min,4.90000,2.200000,4.500000,1.40000
25%,6.22500,2.800000,5.100000,1.80000
50%,6.50000,3.000000,5.550000,2.00000
75%,6.90000,3.175000,5.875000,2.30000
max,7.90000,3.800000,6.900000,2.50000

In [37]:
setosa.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.00000,50.000000,50.000000,50.00000
mean,5.00600,3.418000,1.464000,0.24400
std,0.35249,0.381024,0.173511,0.10721
min,4.30000,2.300000,1.000000,0.10000
25%,4.80000,3.125000,1.400000,0.20000
50%,5.00000,3.400000,1.500000,0.20000
75%,5.20000,3.675000,1.575000,0.30000
max,5.80000,4.400000,1.900000,0.60000

In [38]:
versicolor.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.000000,50.000000,50.000000,50.000000
mean,5.936000,2.770000,4.260000,1.326000
std,0.516171,0.313798,0.469911,0.197753
min,4.900000,2.000000,3.000000,1.000000
25%,5.600000,2.525000,4.000000,1.200000
50%,5.900000,2.800000,4.350000,1.300000
75%,6.300000,3.000000,4.600000,1.500000
max,7.000000,3.400000,5.100000,1.800000

In [49]:
versicolor_std_sl = versicolor['sepal length (cm)'].std()
versicolor_std_sl

0.5161711470638635

In [48]:
versicolor_std_sw = versicolor['sepal width (cm)'].std()
versicolor_std_sw

0.3137983233784114

In [51]:
versicolor_std_pl = versicolor['petal length (cm)'].std()
versicolor_std_pl

0.46991097723995806

In [52]:
versicolor_std_pw = versicolor['petal width (cm)'].std()
versicolor_std_pw

0.197752680004544

In [58]:
std_class_pw  = iris.groupby(['target'])['petal width (cm)'].std()
std_class_pw

target
Iris-setosa        0.107210
Iris-versicolor    0.197753
Iris-virginica     0.274650
Name: petal width (cm), dtype: float64

In [59]:
std_class_pl  = iris.groupby(['target'])['petal length (cm)'].std()
std_class_pl

target
Iris-setosa        0.173511
Iris-versicolor    0.469911
Iris-virginica     0.551895
Name: petal length (cm), dtype: float64

In [60]:
std_class_sl  = iris.groupby(['target'])['sepal length (cm)'].std()
std_class_sl

target
Iris-setosa        0.352490
Iris-versicolor    0.516171
Iris-virginica     0.635880
Name: sepal length (cm), dtype: float64

In [68]:
std_class_sw  = iris.groupby(['target'])['sepal width (cm)'].std().round(3)
std_class_sw

target
Iris-setosa        0.381
Iris-versicolor    0.314
Iris-virginica     0.322
Name: sepal width (cm), dtype: float64

In [62]:
min_class_sw  = iris.groupby(['target'])['sepal width (cm)'].min()
min_class_sw

target
Iris-setosa        2.3
Iris-versicolor    2.0
Iris-virginica     2.2
Name: sepal width (cm), dtype: float64

In [63]:
min_class_sl  = iris.groupby(['target'])['sepal length (cm)'].min()
min_class_sl

target
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: sepal length (cm), dtype: float64

In [64]:
min_class_pl  = iris.groupby(['target'])['petal length (cm)'].min()
min_class_pl

target
Iris-setosa        1.0
Iris-versicolor    3.0
Iris-virginica     4.5
Name: petal length (cm), dtype: float64

In [65]:
min_class_pw = iris.groupby(['target'])['petal width (cm)'].min()
min_class_pw

target
Iris-setosa        0.1
Iris-versicolor    1.0
Iris-virginica     1.4
Name: petal width (cm), dtype: float64

In [66]:
max_class_pw = iris.groupby(['target'])['petal width (cm)'].max()
max_class_pw

target
Iris-setosa        0.6
Iris-versicolor    1.8
Iris-virginica     2.5
Name: petal width (cm), dtype: float64

In [67]:
max_class_sw = iris.groupby(['target'])['sepal width (cm)'].max()
max_class_sw

target
Iris-setosa        4.4
Iris-versicolor    3.4
Iris-virginica     3.8
Name: sepal width (cm), dtype: float64